.region_ul {
    font-weight: bold;
    font-size: larger;
    font-family: 'Amiri', 'Brill', 'Georgia', 'Lateef', 'Geeza Pro', serif;
}
.region_ul:hover {
    color:red;
    cursor:pointer;
}

.leaflet-label {
    font: 20px 'Amiri', 'Lateef', 'Geeza Pro', serif;
    border : none;
}