svg {
	font: 10px sans-serif;
	color: #000;
}

.xLabel {
	font: 9px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.highlight {
	opacity: 1;
}

.highlight:hover {
	fill: red;
}

.data:hover > g > .bar:not(.highlight) {
	opacity: .2;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.data:hover > .legend:not(.highlight) {
	opacity: .2;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.data:hover > .x > .tick > .xLabel:not(.highlight) {
	opacity: .2;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.bar {
	opacity: 1;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.legend {
	opacity: 1;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.xLabel {
	opacity: 1;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
};